In [0]:
from fastai.tabular import *

In [2]:
# Mount the drive
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
model_store_path = Path ( '/content/gdrive/My Drive/saved_models/NLP/Tabular/URLs.ADULT_SAMPLE' )

Tabular data should be in a Pandas DataFrame.

In [4]:
path = untar_data(URLs.ADULT_SAMPLE)
df = pd.read_csv(path/'adult.csv')

Downloading http://files.fast.ai/data/examples/adult_sample

In [5]:
df

       age          workclass  fnlwgt  ... hours-per-week  native-country salary
0       49            Private  101320  ...             40   United-States  >=50k
1       44            Private  236746  ...             45   United-States  >=50k
2       38            Private   96185  ...             32   United-States   <50k
3       38       Self-emp-inc  112847  ...             40   United-States  >=50k
4       42   Self-emp-not-inc   82297  ...             50   United-States   <50k
...    ...                ...     ...  ...            ...             ...    ...
32556   36            Private  297449  ...             40   United-States  >=50k
32557   23                  ?  123983  ...             40   United-States   <50k
32558   53            Private  157069  ...             40   United-States  >=50k
32559   32          Local-gov  217296  ...             22   United-States   <50k
32560   26            Private  182308  ...             40   United-States   <50k

[32561 rows x 15 columns]

In [0]:
# why cat an cont
dep_var = 'salary'
cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race']
cont_names = ['age', 'fnlwgt', 'education-num']
procs = [FillMissing, Categorify, Normalize]

In [0]:
test = TabularList.from_df(df.iloc[800:1000].copy(), path=path, cat_names=cat_names, cont_names=cont_names)

In [0]:
# splitby?
# 800:1000 below and above
data = (TabularList.from_df(df, path=path, cat_names=cat_names, cont_names=cont_names, procs=procs)
                           .split_by_idx(list(range(800,1000)))
                           .label_from_df(cols=dep_var)
                           .add_test(test)
                           .databunch())

In [9]:
data.show_batch(rows=10)

In [0]:
# Layers?
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)

In [38]:
learn.fit(10, 1e-2)

In [0]:
# You should save each model in a separate folder if you are not having unique name for each of ur saved model
# You should not save your model with simple learn.save('xx') without first deciding the directory 
# i.e path where model is to be saved
learn.path = model_store_path

In [0]:
learn.save('URLs.ADULT_SAMPLE')

In [0]:
learn.load('URLs.ADULT_SAMPLE');

Inference

In [0]:
row = df.iloc[300]

In [44]:
row

age                             48
workclass                Local-gov
fnlwgt                      238959
education                  Masters
education-num                  NaN
marital-status            Divorced
occupation         Exec-managerial
relationship             Unmarried
race                         Black
sex                         Female
capital-gain                  9562
capital-loss                     0
hours-per-week                  40
native-country       United-States
salary                       >=50k
Name: 300, dtype: object

In [45]:
learn.predict(row)

(Category <50k, tensor(0), tensor([0.5510, 0.4490]))